.logo {
  display: flex;
  padding: 20px 0px 20px 20px;
}

.logo h1 {
  color: white;
  font-size: 3.5rem;
  padding-top: 10px;
}

.logo p {
  color: rgb(0, 162, 255);
  font-size: 1.6rem;
  font-weight: 700;
}
