* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-image: linear-gradient(to bottom right, #121212 60%, #424242); */
  /* overflow-y: hidden; */
  background-color: #192841;
  /* background-color: #192734; */

  /* padding-top: 200px; */
  /* z-index: 200; */
  /* background-color: #152238; */
}
